/* WRITE A TUIT */
.write{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: 1rem;
    padding: 1rem;
    background-color: #4a4e55;
    color:white;
    
    border-radius:5px;
    border:1px solid white; 
}
.write h2{
    font-size: 1.5em;
}

.write form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin-top: 1em;
}

.write button{
    background-color: #909acb;
    padding: .5em;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
}

.write input, .write textarea{
    border: solid 1px #312b5a;
    background-color: rgba(1, 128, 255, 0.08);
    color: rgb(245, 245, 245, .6);
    padding: .7rem;
}

.write > form:nth-child(2) > div:nth-child(2) {
    display: flex;
    align-items: flex-end;
}
.write > form:nth-child(2) button {
    margin-left: 2rem;
}
